* {
	transition: all .5s;
	box-sizing: border-box;
}

body {
    background: #bfbfbf;
    font: 1em sans-serif, Tahoma, Arial;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: black;
}
/* tv-header
    ================================================== */
.tv-header {
    width: 1060px;
    margin: 0 auto;
    height: 100px;
    /*background: red;*/
}
.logo {
    background: red;
    width: 157px;
    height: 50px;
    margin: 10px;
}

.tv-search {
    width: 500px;
    position: relative;
    top: -50px;
    left: 250px;
}

.input-search {
    width: 400px;

}
/* dropdown
    ================================================== */
.section {
    width: 1060px;
    /*margin: 70px 0px 20px 150px;*/
    margin: 0 auto;
    padding: 0;
    height: 150px;
    background: #fff;
    border: 1px solid #fff;
}



.tv-channel li {
    list-style: none;
    width: 250px;
}


.tv-channel li a {
    text-decoration: none;
    line-height: 30px;
    font-size: 1.1em;
    display: block;
    background: red;
    position: relative;
    padding: 5px 15px;
    text-indent: 17px;
    color: #fff;
}

.tv-channel li a:hover {
    background: #2fc5ff;
}


.dropdown li a {
    background: #bbb;
    text-decoration: none;
    font-size: .8em;
    color: #fff;
    cursor: pointer;
    /*display: none;*/
    line-height: 20px;
    margin: 1px;
    padding: 5px 15px;
    position: relative;
    left: -40px;
}





.container {
    width: 1060px;
/*    min-width: 100%;*/
/*    max-width: 1122px;*/
    margin: 0 auto;
    background: #fff;
}

