* {
    transition: all .3s;
    box-sizing: border-box;
}

body {
    background: url(img/grid.png);
    font: 1em Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: #333;
}
@font-face{
    font-family: textbook;
    src:local('textbook');
    src:url(font/1wUguRKdVPX0Lw2dlQ1I-l4X0hI.woff),url(font/_qMiA1SBxUbup2B5BieefMuSpsk.ttf);
    font-weight: normal;
    font-style: normal;
}

/* CSS Grid
========================*/
.container {
    font-family: textbook;
    font-weight: 300;

    width: 940px;
    margin: 0 auto;
    background: #fff;
}
.row {
    margin-bottom: 20px;
}
.row:after {
    display: block;
    content:".";
    height: 0;
    visibility: hidden;
    clear: both;
}
[class*="span"] {
    float:left;
    display: inline;
    margin-right: 20px;
}

[class*="span"]:last-child {
    margin-right: 0;
    float: right;
}

.span1  { width:  60px; }
.span2  { width: 140px; }
.span3  { width: 220px; }
.span4  { width: 300px; }
.span5  { width: 380px; }
.span6  { width: 460px; }
.span7  { width: 540px; }
.span8  { width: 620px; }
.span9  { width: 700px; }
.span10 { width: 780px; }
.span11 { width: 860px; }
.span12 { width: 940px; }

.offset1  { margin-left:  60px; }
.offset2  { margin-left: 140px; }
.offset3  { margin-left: 220px; }
.offset4  { margin-left: 300px; }
.offset5  { margin-left: 380px; }
.offset6  { margin-left: 460px; }
.offset7  { margin-left: 540px; }
.offset8  { margin-left: 620px; }
.offset9  { margin-left: 700px; }
.offset10 { margin-left: 780px; }
.offset11 { margin-left: 860px; }
.offset12 { margin-left: 940px; }

/* tv-header
    ================================================== */
.tv-logo {
    margin-top: 15px;
}
.logo {
    margin: 5px 0 0 15px;
    width: 180px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
.tv-search {
    margin-top: 20px;
}
.form-search {
    padding: 5px;
    height: auto;
}
.search {
    padding: 3px;
    height: 35px;
    width: 300px;
}
.go_sch {
    width: 65px;
    height: 35px;
    position: relative;
    left: -2px;
    padding: 4px;
    background: #ececec;
    border: none;
}

.look {
    margin-top: 25px;
    height: 35px;
    position: relative;
}
.look i{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 25px;
    height: 15px;
    width: 12px;
    z-index:1;
}
.btn-look {
    background: #fff;
    border-radius: 3px;
    border:none;
    width: 175px;
    height: 35px;
    text-indent: 23px;
    margin-left: 5px;
}
.btn-look:hover {
    color: #2fc5ff;
}
.btn-authorization {
    width: 90px;
    height: 35px;
    position: relative;
    margin-left: 5px;
    padding: 4px;
    background: #ececec;
    border: none;
    border-radius: 3px;
}
/* dropdown
    ================================================== */
.nav {
    height: 100px;
    margin-left: 25px;
}
.dropdown {
    list-style: none;
    height: 30px;
    width: 200px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: height .5s ease-in-out .5s;
}
.dropdown:hover {
    height: 240px;
    width: 200px;
}
.dropdown li a {
    height: 30px;
    width: 200px;
    position: relative;
    text-decoration: none;
    line-height: 30px;
    display: block;
    background: #bfbfbf;
    padding: 0 15px;
    font-size: .8em;
    color: #000;
    cursor: pointer;
    z-index: 1;
    transition: background .2s ease-in-out;
}
.dropdown li a:hover {
    background: #2fc5ff;
    color: #fff;
    font-size: .9em;
}

.btn {
    position: relative;
}
.btn-channel-by {
    border-radius: 3px;
    border: none;
    background: #ededed;
    position: absolute;
    padding: 5px;
    top: 15px;
    height: 35px;
    width: 90px;
}
.btn-sort div {
    display: inline-block;
    position: relative;
    top: 50px;
}
.btn-sort input {
    border-radius: 3px;
    border: none;
    background: #ededed;
    padding: 5px 2px 5px 15px;
    width: 88px;
    height: 35px;
}
.btn-sort label {
    border: 2px solid #d2d2d2;
    border-radius: 12px;
    height: 10px;
    left: 10px;
    position: absolute;
    margin: -4px;
    top: 50%;
    width: 10px;
}

.btn-sort-films:hover label {
    border-color: #0080ce;
}
.btn-sort-series:hover label {
    border-color: #FFC958;
}
.btn-sort-sport:hover label {
    border-color: green;
}
.btn-sort-children:hover label {
    border-color: red;
}

/* main block
  ==================================================*/

.main-block {
    padding: 10px 5px 5px 20px;
    position: relative;
}
.channel-icon {
    width: 50px;
}
.channel-title {
    position: absolute;
    left: 67px;
    top: 20px;
}
.channel-title a {
    text-decoration: none;
    font-weight: 600;
}
.channel-title a:hover {
    text-decoration: underline;
}
.channel-list {
    font-size: 13px;
    top: 15px;
    position: relative;
}
.tv-block {
    margin: 0 auto;
    height: 37px;
    position: relative;
}
.tv-time {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
}
.tv-title {
    position: relative;
    transition: color 1s;
    top: -16px;
    left: 40px;
    /*display: inline-block;*/
}
.tv-title:hover {
    color: #09f;
    cursor: pointer;
}
/*modal*/
.modal {
    position: relative;
}
.tooltips {
    max-width: 300px;
    height: auto;
    background-color: #fff;
    position: absolute;
    text-align: center;
    border: 1px solid #ccc;
    z-index: 1;
    left: 175px;
    top: -200px;
    box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.4);
    padding: 0 0 15px;
}
.tooltips-img {
    width: auto;
    min-width: 260px;
    height: auto;
}
.tooltips-title {
    height: 30px;
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.tooltips-caption {
    color: #888;
    text-decoration: underline;
    font-size: .8em;
}
.tooltips-body {
    font-size: .8em;
    text-align: left;
    text-indent: 1.5em;
    padding: 9px;
}
.tooltips button {
    margin: 7px 5px 0 5px;
    padding: 8px;
}
.tooltips-watch {
    border: 1px solid #ccc;
    background: transparent;
}
.tooltips-reminder {
    border: 1px solid #ccc;
    background: transparent;
}